.speed.night {
  background: rgb(0, 0, 0);
}

.speed.night .tickLabel {
  color: rgb(214, 0, 0);
}

.speed.night .minorTick .tickLabel {
  color: rgb(192, 19, 19);
}

.speed.night .tick,
.speed.night .tickLabel {
  /* hiding */
  opacity: 0;

  /* transition */
  transition: opacity 250ms ease-in-out;
}


.speed.night .veryMinorTick .tick {
  background-color: rgb(193, 20, 20);

}

.speed.night .minorTick .tick {
  background-color: rgb(192, 19, 19);
}

.speed.night .majorTick .tick {
  background-color: rgb(214, 0, 0);
}

.speed.night .visible .tick,
.speed.night .visible .tickLabel {
  /* hiding */
  opacity: 1;
}

.speed.night .needle::after {
  /* content */
  content: "";

  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 150px;
  height: 4px;

  /* styling */
  background-color: rgb(214, 0, 0);
}

.speed.night .speedometer {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;

  /* sizing */
  --_size: 200px;
  width: var(--_size);
  height: var(--_size);

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  /* styling */
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid transparent;
}

.speed.night .speedometer .value {
  /* text */
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(214, 0, 0);
}

.speed.night .speedometer .unit {
  /* position */
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(192, 19, 19);;
  text-transform: uppercase;
}

.speed.night .speedometer .limit,
.speed.night .speedometer .cruise {
  outline: none;
  background: rgb(0, 0, 0);
  color: red;
}

.speed.night .speedometer .limit.over {
  border-color: rgb(255, 153, 0);
}

.speed.night .speedometer .cruise.enabled {
  border-color: rgb(255, 153, 0);
}

.speed.night .speedometer .cruise.active {
  border-color: red;
}