.speedNight {
  background: rgb(0, 0, 0);
}

.speedNight .veryMinorTicks,
.speedNight .minorTicks,
.speedNight .majorTicks {
  /* position */
  position: absolute;
  inset: 0;
  z-index: 1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* grid */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  transform-origin: center;
  pointer-events: none;

  /* styling */
  transform: rotate(-45deg);
}

.speedNight .veryMinorTicks > *,
.speedNight .minorTicks > *,
.speedNight .majorTicks > * {
  grid-column: 1;
  grid-row: 1;

  /* sizing */
  --_padding: 1.25rem;
  width: calc(100% - var(--_padding));
  padding-left: var(--_padding);
}

.speedNight .majorTicks > * {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.speedNight .veryMinorTicks > * span,
.speedNight .minorTicks > * span,
.speedNight .majorTicks > * span {
  position: relative;
  z-index: 999;

  display: block;

  /* sizing */
  width: fit-content;
  height: fit-content;

  /* hiding */
  opacity: 0;
}

.speedNight .minorTicks > * span {
  color: rgb(192, 19, 19);
}
.speedNight .majorTicks > * span {
  color: rgb(214, 0, 0);
}

.speedNight .veryMinorTicks > *.visible span,
.speedNight .minorTicks > *.visible span,
.speedNight .majorTicks > *.visible span {
  /* hiding */
  opacity: 1;
}

.speedNight .veryMinorTicks > * .tick,
.speedNight .minorTicks > * .tick,
.speedNight .majorTicks > * .tick {
  /* position */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  /* sizing */
  width: 0.25rem;
  height: 1px;

  /* styling */
  background-color: transparent;
}


.speedNight .veryMinorTicks > *.visible .tick {
  background-color: rgb(193, 20, 20);

}

.speedNight .minorTicks > *.visible .tick {
  /* sizing */
  width: 0.5rem;
  height: 1px;

  /* styling */
  background-color: rgb(192, 19, 19);
}

.speedNight .majorTicks > *.visible .tick {
  /* sizing */
  width: 0.75rem;
  height: 2px;

  /* styling */
  background-color: rgb(214, 0, 0);
}

.speedNight .needle {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
  transform-origin: center;

  /* sizing */
  width: 100%;

  /* transition */
  transition: transform 25ms ease-in-out;
}

.speedNight .needle::after {
  /* content */
  content: "";

  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 150px;
  height: 4px;

  /* styling */
  background-color: rgb(214, 0, 0);
}

.speedNight .speedometer {
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;

  /* sizing */
  --_size: 200px;
  width: var(--_size);
  height: var(--_size);

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  /* styling */
  border-radius: 50%;
  background-color: transparent;
}

.speedNight .speedometer .value {
  /* text */
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(214, 0, 0);
}

.speedNight .speedometer .unit {
  /* position */
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(192, 19, 19);;
  text-transform: uppercase;
}
