/* weather */
.weather {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.weather .rain {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* styling */
  overflow: hidden;

  --angle: 30deg;
  background: linear-gradient(
    var(--angle),
    hsl(31.3 94.5% 50.2%),
    hsl(40 100% 69.4%),
    hsl(69, 15%, 72%)
  );
}

.weather .rain.night {
  --angle: 30deg;
  background: linear-gradient(
    var(--angle),
    hsl(230 72% 9.8%),
    hsl(230 100% 3.53%)
  );
}

.weather .rain .raindrop {
  --_max-height: 25px;

  /* position */
  position: absolute;
  top: calc(-1 * var(--_max-height));

  /* sizing */
  width: 2px;
  max-height: var(--_max-height);

  /* styling */
  background-color: rgba(255, 255, 255, 0.236);
  border-radius: 100vmax;

  /* animation */
  animation: raindrop-fall linear infinite;
}

@keyframes raindrop-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(var(--_size) + var(--_max-height)));
  }
}

.weather .icon {
  /* sizing */
  --_size: 150px;
  width: var(--_size);
  height: var(--_size);
  font-size: var(--_size);
}

.weather .info {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

.weather .location {
  /* position */
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  z-index: 1;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  /* text */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.weather .location .city {
  /* text */
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
}

.weather .location .street {
  /* text */
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.weather .info .temperature {
  /* text */
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.weather .info .description {
  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}

.weather .clock {
  /* position */
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  /* sizing */
  width: fit-content;
  padding: 0.25rem 0.5rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-end;
  justify-content: center;

  /* text */
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  font-family: "Digital7Mono", monospace;

  /* styling */
  color: white;
  background-color: black;
  border-radius: 0.5rem;
}